<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add Tour Date</title>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="container">
        <div>
            <h1 class="title">Add a New Tour Date</h1>
        </div>
        <form class="new-date-form">
            <label>Date:</label>
            <input class="date-input input" />
            <label>City, State:</label>
            <input class="city-input input">
            <label>Venue:</label>
            <input class="venue-input input" />
            <label>Bands:</label>
            <input class="bands-input input" />
            <label>Link:</label>
            <input class="link-input input" />
            <button type="submit" class="submit button">Add</button>
        </form>
    </div>
</body>

</html>